## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
import random
def random_list():
    random_list = [];
    for i in range(6):
        random_list.append(random.randint(0,20000))
    return random_list

In [10]:
population = random_list();
country = ['A country','B country','C country','D country','E country','F country']

In [16]:
list_labels = ['國家', '人口']
list_cols = [country, population]

zipped = list(zip(list_labels, list_cols))
data = pd.DataFrame(dict(zipped))
data

          國家     人口
0  A country   8252
1  B country    442
2  C country  15304
3  D country   8967
4  E country  16330
5  F country   5309