<a href="https://colab.research.google.com/github/charle0911/2nd-ML100Days/blob/master/homoework/Day_048_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
from datetime import date
from sklearn import metrics
from sklearn.model_selection import KFold, train_test_split, StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [16]:
path = 'drive/My Drive/data-science-london-scikit-learn'
dfoff = pd.read_csv(os.path.join(path,'train.csv'), header=None)
dftest = pd.read_csv(os.path.join(path,'test.csv'), header=None)
dfY = pd.read_csv(os.path.join(path,'trainLabels.csv'), header=None)

print(dfoff.shape)
print(dftest.shape)
print(dfY.shape)
dfoff.head(5)

(1000, 40)
(9000, 40)
(1000, 1)

         0         1         2   ...        37        38        39
0  0.299403 -1.226624  1.498425  ... -2.715559 -2.682409  0.101050
1 -1.174176  0.332157  0.949919  ...  1.213219  1.382932 -1.817761
2  1.192222 -0.414371  0.067054  ...  0.656438 -0.932473  2.987436
3  1.573270 -0.580318 -0.866332  ...  0.215748  0.619645  1.883397
4 -0.613071 -0.644204  1.112558  ...  0.870772 -1.894609  0.408332

[5 rows x 40 columns]

In [0]:
# 切分訓練集/測試集
x_train, x_test, y_train, y_test = train_test_split(dfoff, dfY, test_size=0.25, random_state=42)

# 建立模型
clf = GradientBoostingClassifier(random_state=7)

In [18]:
# 訓練模型
clf.fit(x_train, y_train)

# 預測測試集
y_pred = clf.predict(x_test)

acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Acuuracy:  0.88

In [19]:
# 設定要訓練的超參數組合
n_estimators = [50, 100, 150]
max_depth = [1, 3, 5]
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(clf, param_grid, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)

# 開始搜尋最佳參數
grid_result = grid_search.fit(x_train, y_train)

# 預設會跑 3-fold cross-validadtion，總共 9 種參數組合，總共要 train 27 次模型

Fitting 3 folds for each of 9 candidates, totalling 27 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:    6.6s finished
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
# 印出最佳結果與最佳參數
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: -0.126667 using {'max_depth': 5, 'n_estimators': 150}

In [21]:
# 使用最佳參數重新建立模型
reg_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])

# 訓練模型
reg_bestparam.fit(x_train, y_train)

# 預測測試集
y_pred = reg_bestparam.predict(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
y_real_pred = reg_bestparam.predict(dftest)



result = pd.DataFrame(y_real_pred)

result.index += 1
result.columns = ['Solution']
result['Id'] = np.arange(1,result.shape[0]+1)
result = result[['Id', 'Solution']]
print(result)

out = pd.DataFrame(result)
out.to_csv('Submission_rf.csv', index=False)

        Id  Solution
1        1         1
2        2         0
3        3         0
4        4         0
5        5         0
6        6         0
7        7         0
8        8         1
9        9         0
10      10         0
11      11         1
12      12         1
13      13         1
14      14         0
15      15         0
16      16         1
17      17         0
18      18         1
19      19         0
20      20         1
21      21         0
22      22         1
23      23         1
24      24         0
25      25         1
26      26         1
27      27         1
28      28         0
29      29         1
30      30         0
...    ...       ...
8971  8971         0
8972  8972         0
8973  8973         1
8974  8974         1
8975  8975         0
8976  8976         1
8977  8977         0
8978  8978         1
8979  8979         1
8980  8980         1
8981  8981         1
8982  8982         1
8983  8983         0
8984  8984         0
8985  8985         0
8986  8986         1
8987  8987         1
8988  8988         0
8989  8989         1
8990  8990         1
8991  8991         0
8992  8992         1
8993  8993         0
8994  8994         1
8995  8995         1
8996  8996         0
8997  8997         1
8998  8998         1
8999  8999         0
9000  9000         1

[9000 rows x 2 columns]